/*
    author: Ayumu Saito

    This css file is used for App.js
*/
* {
    font-family: "Comic Sans MS", "Comic Sans", "Marker Felt", "cursive",
        sans-serif;
    text-align: center;
}

body {
    background-image: url("./Background.jpg");
    background-size: cover;
    background-position: center center;
}
